*{
    padding: 0px;
    margin: 0    
}
a{
    text-decoration: none;
    color: black;
}
body{
    font-family: arial;
    background-color: rgb(48, 48, 48);
    color: white;
}
ul{
    list-style: none;
}
img{
    width: 50px;
}
input[type=checkbox]
{
    display: none;
}
nav{
    background-color: rgb(0, 0, 0);
    width: 350px;
    height: 100%;

    position: absolute;
    transition: all .5s;
}
input[type="checkbox"]:checked ~ nav
{
    transform: translateX(px);
}
ul{
    top: 60px;
    position: absolute;
    width: 100%;
}
a{
    display: block;
    padding: 20px 5px;
    color: white;
}
a:hover{
    background: rgb(54, 54, 54);
    color: rgb(224, 224, 224);
    transition: all 0.3s;
}
label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}

